# Testreport

<details><summary>
  Preet
  </summary>
 <p> 

| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 15 feb'22 | UX 1.1 | Preet | Fail | |
| 15 feb'22 | UX 1.2 | Preet | Fail | |
| 15 feb'22 | UX 1.3 | Preet | Fail | |
| 15 feb'22 | UX 1.4 | Preet | Fail | |
| 15 feb'22 | UX 1.5 | Preet | Fail | |
| 15 feb'22 | UX 1.6 | Preet | Fail | |
| 15 feb'22 | UX 1.7 | Preet | Fail | |
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 16 feb'22 | UX 1.1 | Preet | Fail | |
| 16 feb'22 | UX 1.2 | Preet | Fail | |
| 16 feb'22 | UX 1.3 | Preet | Fail | |
| 16 feb'22 | UX 1.4 | Preet | Fail | |
| 16 feb'22 | UX 1.5 | Preet | Fail | |
| 16 feb'22 | UX 1.6 | Preet | Fail | |
| 16 feb'22 | UX 1.7 | Preet | Fail | |
   
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 17 feb'22 | UX 1.1 | Preet | Pass | |
| 17 feb'22 | UX 1.2 | Preet | Pass | |
| 17 feb'22 | UX 1.3 | Preet | Pass | |
| 17 feb'22 | UX 1.4 | Preet | Pass | |
| 17 feb'22 | UX 1.5 | Preet | Pass | |
| 17 feb'22 | UX 1.6 | Preet | Pass | |
| 17 feb'22 | UX 1.7 | Preet | Pass | |
  </p>
  </details>
  
  
<details><summary> Pushti</summary>
<p> 
  
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 16 feb'22   | UX 2.1 | Pushti | Fail | |
| 16 feb'22   | UX 2.2 | Pushti | Fail | |
| 16 feb'22   | UX 2.3 | Pushti | Fail | |
| 16 feb'22   | UX 2.4 | Pushti | Fail | |
| 16 feb'22   | UX 2.5 | Pushti | Fail | |
  
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 17 feb'22   | UX 2.1 | Pushti | Fail | |
| 17 feb'22   | UX 2.2 | Pushti | Fail | |
| 17 feb'22   | UX 2.3 | Pushti | Fail | |
| 17 feb'22   | UX 2.4 | Pushti | Fail | |
| 17 feb'22   | UX 2.5 | Pushti | Fail | |
 
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 18 feb'22  | UX 2.1 | Pushti | Pass | |
| 18 feb'22  | UX 2.2 | Pushti | Pass | |
| 18 feb'22  | UX 2.3 | Pushti | Pass | |
| 18 feb'22  | UX 2.4 | Pushti | Pass | |
| 18 feb'22  | UX 2.5 | Pushti | Pass | |

</p>
</details>


<details><summary>Muhaimin</summary>
 <p> 

   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 15 feb'22 | UX 3.1 | Muhaimin | Fail | |
| 19 feb'22 | DB 1.1 | Muhaimin | Fail | |
| 19 feb'22 | API 1.1| Muhaimin | Fail | |
| 19 feb'22 | API 1.2| Muhaimin | Fail | |
| 19 feb'22 | API 1.3| Muhaimin | Fail | |  
   
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 16 feb'22 | UX 3.1 | Muhaimin | Fail | |
| 19 feb'22 | DB 1.1 | Muhaimin | Fail | |
| 20 feb'22 | API 1.1| Muhaimin | Fail | |
| 20 feb'22 | API 1.2| Muhaimin | Fail | |
| 20 feb'22 | API 1.3| Muhaimin | Fail | |  
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 18 feb'22 | UX 3.1 | Muhaimin | Pass | |
| 21 feb'22 | DB 1.1 | Muhaimin | Pass | |
| 21 feb'22 | API 1.1| Muhaimin | Pass | |
| 21 feb'22 | API 1.2| Muhaimin | Pass | |
| 21 feb'22 | API 1.3| Muhaimin | Pass | |   
</p>
</details>

<details><summary>Testreport S2 </summary>
 <p> 
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 14 Mar'22 | UT 1.1 | Preet | Fail | |
| 14 Mar'22 | UT 1.2 | Preet | Fail | |
| 14 Mar'22 | API 1.1| Pushti |  | |
| 14 Mar'22 | API 1.2| Muhaimin |  | |


  </p>
  </details>
