# Testreport

<details><summary>
  Test Report
  </summary>
 <p> 

| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 15 Feb'22 | UX 1.1 | Preet | F | |
| 15 Feb'22 | UX 1.2 | Preet | F | |
| 15 Feb'22 | UX 1.3 | Preet | F | |
| 15 Feb'22 | UX 1.4 | Preet | F | |
| 15 Feb'22 | UX 1.5 | Preet | F | |
| 15 Feb'22 | UX 1.6 | Preet | F | |
| 15 Feb'22 | UX 1.7 | Preet | F | |
  </p>
  </details>
