# Testreport

<details><summary>
  Preet
  </summary>
 <p> 

| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 15 feb'22 | UX 1.1 | Preet | Fail | |
| 15 feb'22 | UX 1.2 | Preet | Fail | |
| 15 feb'22 | UX 1.3 | Preet | Fail | |
| 15 feb'22 | UX 1.4 | Preet | Fail | |
| 15 feb'22 | UX 1.5 | Preet | Fail | |
| 15 feb'22 | UX 1.6 | Preet | Fail | |
| 15 feb'22 | UX 1.7 | Preet | Fail | |
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
|  | UX 1.1 | Preet |  | |
|  | UX 1.2 | Preet |  | |
|  | UX 1.3 | Preet |  | |
|  | UX 1.4 | Preet |  | |
|  | UX 1.5 | Preet |  | |
|  | UX 1.6 | Preet |  | |
|  | UX 1.7 | Preet |  | |
   
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
|  | UX 1.1 | Preet |  | |
|  | UX 1.2 | Preet |  | |
|  | UX 1.3 | Preet |  | |
|  | UX 1.4 | Preet |  | |
|  | UX 1.5 | Preet |  | |
|  | UX 1.6 | Preet |  | |
|  | UX 1.7 | Preet |  | |
  </p>
  </details>
  
  
<details><summary> Pushti</summary>
<p> 
  
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
|  | UX 2.1 | Pushti |  | |
|  | UX 2.2 | Pushti |  | |
|  | UX 2.3 | Pushti |  | |
|  | UX 2.4 | Pushti |  | |
|  | UX 2.5 | Pushti |  | |
  
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
|  | UX 2.1 | Pushti |  | |
|  | UX 2.2 | Pushti |  | |
|  | UX 2.3 | Pushti |  | |
|  | UX 2.4 | Pushti |  | |
|  | UX 2.5 | Pushti |  | |
 
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
|  | UX 2.1 | Pushti |  | |
|  | UX 2.2 | Pushti |  | |
|  | UX 2.3 | Pushti |  | |
|  | UX 2.4 | Pushti |  | |
|  | UX 2.5 | Pushti |  | |

</p>
</details>


<details><summary>Muhaimin</summary>
 <p> 

   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
|  | UX 3.1 | Muhaimin |  | |
|  | DB 1.1 | Muhaimin |  | |
|  | API 1.1| Muhaimin |  | |
|  | API 1.2| Muhaimin |  | |
|  | API 1.3| Muhaimin |  | |  
   
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
|  | UX 3.1 | Muhaimin |  | |
|  | DB 1.1 | Muhaimin |  | |
|  | API 1.1| Muhaimin |  | |
|  | API 1.2| Muhaimin |  | |
|  | API 1.3| Muhaimin |  | |  
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
|  | UX 3.1 | Muhaimin |  | |
|  | DB 1.1 | Muhaimin |  | |
|  | API 1.1| Muhaimin |  | |
|  | API 1.2| Muhaimin |  | |
|  | API 1.3| Muhaimin |  | |   
</p>
</details>
